// Clearfix mixin
@mixin group {
	display: inline-block;
	clear: both;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

/**
 * Standart Opacity mixin. Use this mixin as an ordinary opacity.
 * It strips you of multiplying code for different browser supoort.
*/
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

/**
 * Standart Transition mixin. Use this mixin as an ordinary transition.
 * It strips you of multiplying code for different browser supoort.
*/
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
	transition: $args;
}

/**
 * Standart Animation mixin. Use this mixin as an ordinary animation.
 * It strips you of multiplying code for different browser supoort.
*/
@mixin keyframes($animation-name) {
 	@-webkit-keyframes $animation-name {
		@content;
  	}
	@-moz-keyframes $animation-name {
		@content;
  	}  
	@-ms-keyframes $animation-name {
		@content;
	}
	@-o-keyframes $animation-name {
		@content;
 	}  
    @keyframes $animation-name {
		@content;
	}
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}